*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    background-color: rgb(78, 78, 72);
}
.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
}
span{
    display: block;
    text-align: center;
    font-size: 100px;
}
p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin:30px;
}
button{
    display: block;
    background-color: yellowgreen;
    border-radius: 5px;
    padding: 12px 25px;
    color: black;
    font-size: 18px;
    font-weight: 60px;      
   

}